body {
  background-color: #21222c;
}

/* 👇👇👇 Paste the styles of your Fancy Robot from the "Position it right" assignment here 👇👇👇 */

.robot-container {
  position: relative;
  top: 300px;
  width: 400px;
  height: 300px;
  border-radius: 5px;
  background: navy;
  justify-self: center;
  align-self: center;
}

.robot-face-shape {
  position: relative;
  top: 10px;
  left: 15px;
  width: 90%;
  height: 90%;
  background-image: url(https://picsum.photos/seed/picsum/200/300);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 10px;
  border: groove 5px cyan;
}

.robot-eyes, .robot-ears, .robot-connectors {
  display: flex;
  justify-content: space-between;
}

.robot-eye-left {
  background: maroon;
  height: 100px;
  position: relative;
  top: 20px;
  left: 50px;
  width: 7px;
  rotate: 45deg;
}
.robot-eye-left::after {
  background: maroon;
  content: "";
  height: 7px;
  left: -45px;
  position: absolute;
  top: 45px;
  width: 100px;
}
.robot-eye-right {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  box-shadow: 15px 15px 0 0 hotpink;
  position: relative;
  right: 15px;
  rotate: 40deg;
}

.robot-ear-left {
  width: 100px;
  height: 100px;
  background: linear-gradient(to right, #faaca8, #ddd6f3);
  border-radius: 50%;
  position: relative;
  top: -225px;
  left: -180px;
}
.robot-ear-right {
  width: 100px;
  height: 100px;
  background: linear-gradient(to left, #faaca8, #ddd6f3);
  border-radius: 50%;
  position: relative;
  top: -225px;
  right: -180px;
}

.robot-left-connect {
  width: 100px;
  height: 50px;
  background: black;
  position: relative;
  top: -300px;
  left: -95px;
  z-index: -1;
}
.robot-right-connect {
  width: 100px;
  height: 50px;
  background: black;
  position: relative;
  top: -300px;
  right: -95px;
  z-index: -1;
}

.robot-nose {
  width: 2.5rem;
  height: 2.5rem;
  background: mediumvioletred;
  position: relative;
  left: 165px;
  top: 18px;
  rotate: 45deg;
}

.wrapper {
  position: absolute;
  z-index: 1;
}
.robot-mouth {
  width: 190px;
  height: 90px;
  background: transparent;
  border-radius: 100px / 50px;
  position: relative;
  left: 87px;
  top: 28px;
  border-style: solid;
  border-color: black;
  border-width: 5px;
}
.robot-teeth {
  width: 190px;
  height: 90px;
  background: red;
  border-radius: 100px / 50px;
  position: relative;
  opacity: 50%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  z-index: -1;
}
.robot-tooth {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 30px solid blue;
  position: relative;
  top: -5px;
  rotate: 62deg;
}
.left-tooth{
  rotate: 45deg;
  left: -5px;
}
.right-tooth{
  rotate: 79deg;
  right: -5px;
}

.robot-hair-style {
  border-bottom: 50px solid violet;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  width: 300px;
  position: relative;
  top: -480px;
  left: 35px;
  z-index: -1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: 
  "part2 part3 part5"
  "part1 part3 part4"
  ;
}

.robot-hair-one {
  border-style: solid;
  border-color: transparent transparent black transparent;
  border-width: 0 25px 25px 25px;
  height: 0;
  width: 50px;
  box-sizing: content-box;
  position: relative;
  margin: 20px 0 50px 0;
  rotate: 180deg;
  top: -85px;
  right: 65px;
}
.robot-hair-one::after {
  content: "";
  position: absolute;
  top: 25px;
  left: -25px;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: black transparent transparent transparent;
  border-width: 70px 50px 0 50px;
}
.part1 {
  grid-area: part1;
}
.part4 {
  grid-area: part4;
}
.robot-hair-two {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid magenta;
  position: relative;
  rotate: 90deg;
  top: -110px;
  right: 50px;
  z-index: 2;
}
.robot-hair-two::after {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid magenta;
  position: absolute;
  content: "";
  top: 30px;
  left: -50px;
}
.part2 {
  grid-area: part2;
}
.part5 {
  grid-area: part5;
}
.robot-hair-three {
  position: relative;
  width: 212px;
  height: 100px;
  box-sizing: content-box;
  rotate: 90deg;
  grid-area: part3;
  top: -140px;
  right: 65px;
}
.robot-hair-three::before, .robot-hair-three::after {
  content: "";
  box-sizing: content-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  border: 20px solid cornflowerblue;
  border-radius: 50px 50px 0 50px;
  transform: rotate(-45deg)
}
.robot-hair-three::after {
  left: auto;
  right: 0;
  border-radius: 50px 50px 50px 0;
  transform: rotate(45deg);
}